main {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.add-content-here {
    margin-left: 149px;
    width: 1200px;
    height: 1200px;
    background-color: grey;
    position: relative;
}

.background-image {
    min-width: 1200px;
    max-width: 1200px;
    min-height: 600px;
    max-height: 600px;
    width: 1200px;
    height: 600px;
    top: 0px;
    left: 0px;
    position: absolute;
}

.start-button {
    width: 33px;
    height: 37px;
    border-radius: 50%;
    /* background-color: blue; */
    position: relative;
    bottom: 375px;
    left: 925px;
}

.rock {
    width: 237px;
    height: 259px;
    position: absolute;
    left: 54px;
    top: 43px;
}

.paper {
    width: 237px;
    height: 259px;
    position: absolute;
    left: 291px;
    top: 43px;
}

.scissors {
    width: 237px;
    height: 259px;
    position: absolute;
    left: 529px;
    top: 43px;
}

@keyframes fade-out-item {
    100% {
        opacity: 0%;
    }
}

#fade-out {
    animation-name: fade-out-item;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

/* PROBABLY IN THIS ORDER!!!!

add-animation-background
move-users-choice-to-center
move-computers-choice-to-center
highlight-computer
highlight-player
move-back-computers-choice
move-back-rock
move-back-scissors
move-back-paper

*/

@keyframes move-users-paper-choice {
    100% {
        left: 222px;
        top: 182px;
        transform: scale(1.8);
    }
}

#move-users-paper-to-center {
    animation-name: move-users-paper-choice;
    animation-duration: 2s;
    animation-fill-mode: forwards;

    position:absolute;
    z-index: 4;

}

@keyframes move-users-rock-choice {
    100% {
        left: 230px;
        top: 183px;
        transform: scale(1.8);
    }
}

#move-users-rock-to-center {
    animation-name: move-users-rock-choice;
    animation-duration: 2s;
    animation-fill-mode: forwards;

    position:absolute;
    z-index: 4;

}

@keyframes move-users-scissors-choice {
    100% {
        left: 216px;
        top: 183px;
        transform: scale(1.8);
    }
}

#move-users-scissors-to-center {
    animation-name: move-users-scissors-choice;
    animation-duration: 2s;
    animation-fill-mode: forwards;

    position:absolute;
    z-index: 4;

}


@keyframes move-computers-choice {
    100% {
        left: 699px;
        top: 183px;
        z-index: 4;
        transform: scale(1.8);
        width: 237px;
        height: 259px;
    }
}

#move-computers-choice-to-center {
    animation-name: move-computers-choice;
    animation-duration: 2s;
    animation-fill-mode: forwards;

    position: absolute;
}

@keyframes add-animation-background-to-screen {
    0% {
        opacity: 0;
    }
    100% {
        background-color: black;
        opacity: 0.92;
    }
}

#add-animation-background {
    animation-name: add-animation-background-to-screen;
    animation-duration: 2s;
    animation-fill-mode: forwards;

    z-index: 3;
    position: absolute;
    left: 25px;
    bottom: 850px;
    width: 1154px;
    height: 600px;
    top: 20px;
}

@keyframes highlight-the-player {
    100% {
        width: 427px;
        height: 469px;
        position: absolute;
        left: 113px;
        top: 83px;
        z-index: 7;
        background-color: yellow;
        opacity: 0.5;
    }
}

#highlight-player {
    animation-name: highlight-the-player;
    animation-duration: 3.5s;
    animation-fill-mode: forwards;
}