main {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.add-content-here {
    margin-left: 150px;
    min-width: 1200px;
    height: 667px;
    background-color: grey;
    position: relative;
}

.background-image {
    min-width: 1200px;
    max-width: 1200px;
    min-height: 600px;
    max-height: 600px;
    width: 1200px;
    height: 600px;
    top: 0px;
    left: 0px;
    position: absolute;
}

.start-button {
    width: 33px;
    height: 37px;
    border-radius: 50%;
    /* background-color: blue; */
    position: relative;
    bottom: 375px;
    left: 925px;
}

.rock {
    width: 237px;
    height: 259px;
    position: absolute;
    left: 54px;
    top: 43px;
}

.paper {
    width: 237px;
    height: 259px;
    position: absolute;
    left: 291px;
    top: 43px;
}

.scissors {
    width: 236px;
    height: 259px;
    position: absolute;
    left: 530px;
    top: 43px;
}

@keyframes fade-out-item {
    100% {
        opacity: 0%;
    }
}

#fade-out {
    animation-name: fade-out-item;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

/* PROBABLY IN THIS ORDER!!!!

add-animation-background
move-users-choice-to-center
move-computers-choice-to-center
highlight-computer
highlight-player
move-back-computers-choice
move-back-rock
move-back-scissors
move-back-paper

*/

@keyframes move-users-choice {
    100% {
        left: 217px;
        top: 184px;
        transform: scale(1.8);
    }
}

#move-users-choice-to-center {
    animation-name: move-users-choice;
    animation-duration: 2s;
    animation-fill-mode: forwards;

    position:absolute;
    z-index: 4;

}

@keyframes move-computers-choice {
    0% {
        opacity: 0.0;
        left: 1000px;
        top: 0px;
    }
    100% {
        opacity: 1.0;
        left: 699px;
        top: 183px;
        transform: scale(1.8);
    }
}

#move-computers-choice-to-center {
    animation-name: move-computers-choice;
    animation-duration: 2s;
    animation-fill-mode: forwards;

    z-index: 4;
    width: 237px;
    height: 259px;
    position: absolute;
}

@keyframes add-animation-background-to-screen {
    0% {
        opacity: 0;
    }
    100% {
        background-color: black;
        opacity: 0.92;
    }
}

#add-animation-background {
    animation-name: add-animation-background-to-screen;
    animation-duration: 2s;
    animation-fill-mode: forwards;

    z-index: 3;
    position: absolute;
    left: 25px;
    bottom: 850px;
    width: 1154px;
    height: 628px;
    top: 20px;
}

@keyframes highlight-the-player {
    100% {
        opacity: 0.5;
    }
}

#highlight-player {
    animation-name: highlight-the-player;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    
    width: 427px;
    height: 467px;
    position: absolute;
    z-index: 7;
    background-color: yellow;
    opacity: 0;
    left: 122px;
    top: 79px;
}

@keyframes create-notification {
    0% {
        font-size: 0px;
    }

    100% {
        font-size: 100px;
    }
}

#match-notification {

    animation-name: create-notification;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;

    position: absolute;
    z-index: 7;
    top: 543px;
    left: 187px;
    width: 786px;
    height: 100px;
    color: yellow;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 0px
}